$themes:(
    light:(
        textColor: #000,
        textColorSoft: #555,
        bg:white,
        bgSoft:#f6f6f3,
        logo: darkblue,
        border: lightgray
    ),
    dark:(
        textColor: whitesmoke,
        textColorSoft: #777,
        bg:#222,
        bgSoft:#333,
        logo: white,
        border: #444,
    ),
);




@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  @function themed($key){
    @return map-get($theme-map, $key)
};


@mixin mobile{
  @media(max-width: 430px){
    @content
  }
};


@mixin GalaxyS20{
  @media(max-width: 360){
    @content
  }
}
